%h1= @ticket.subject
%h4
  Current State:
  = @ticket.status.humanize
- if @ticket.assigned_staff
  %h4 
    Assigned to
    = @ticket.assigned_staff.name

- if current_user
  = render 'staff_controls'

%h3 History
%ul
  - @ticket.histories.each do |h|
    %li= h.notes

%h3 Responses

= simple_form_for [@ticket, @response] do |f|
  = f.input :body, label: 'Response'
  = f.submit 'Reply'

- @ticket.responses.persisted.each do |r|
  .testimonial
    .quote
      %p= r.body
    .staff
      - if r.staff
        %p= r.staff.name
      - else
        %p= @ticket.name
      %p= r.created_at.strftime('%b %e, %l:%M %p')
